<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indoor Environment Monitor</title>
    <link rel="stylesheet" hredf="/static/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Indoor Environment Dashboard</h1>
        <p class = "subtitle">
            Live reading from an ESP32 & BME680 sensor node.
        </p>
        <div class ="status-row">
            <div>
                <span class="label">Risk:</span>
                <span id="risk" class="pill">--</span>
            </div>
            <div>
                <span class="label">Last Updated: </span>
                <span id="time">--</span>
            </div>
        </div>

</body>